body {
margin: 0;
padding: 0;
background-image: url(Computers.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
}


.title
 {
color: rgb(0, 0, 0);
font-size: 40px;
 }

.Tbox
{
display: flex;
height: 600px;
border-radius: 15px;
align-items: center;
justify-content: center;
}

.navbar 
{
display: flex;
justify-content: center;
padding-top: 40px;
}
ul li
{
display:inline-block;
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
margin: 10px;
}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row;
align-items: center;
}

button:hover 
{
background-color: #db8a8a;
}

button
{
cursor: pointer;
background: pink;
color: rgb(0, 0, 0);
font-size: 20px;
width: 200px;
padding: 20px;
}

.SWindow {
background-color: white;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
height: 80%;

background-image: url(SoftwareBG.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
font-size: 27px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

z-index: 1000;
text-align: center;
visibility: hidden;
opacity: 0;
}

.HWindow {
background-color: white;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
height: 80%;

background-image: url(HardwareBG.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
font-size: 27px;


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

z-index: 1000;
text-align: center;
visibility: hidden;
opacity: 0;
}

.SWindow.active {
visibility: visible;
opacity: 1;
}

.HWindow.active {
visibility: visible;
opacity: 1;
}